<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for n in Clientes %}
            <li><a href="{% url 'update_cliente' n.id %}">{{ n.first_name }} {{ n.last_name }}</a></li>
            <li><a href="{% url 'delete_cliente' n.id %}">Delete</a></li>
            <br>
        {% endfor %}
    </ul>

    <button><a href="{% url 'create_cliente' %}">Create cliente</a></button>
</body>
</html>